/* #57676E */
/* #BD1311 #11bd17 #0c7bea */
/* line 18, ../../_sass/style.scss */
body {
  font-family: 'OpenSans', sans-serif;
  background-color: #E7EEF2;
}

/* line 22, ../../_sass/style.scss */
div.container {
  margin: 0 auto;
  max-width: 960px;
}

/* line 26, ../../_sass/style.scss */
div.post, div.recent_posts {
  padding: 100px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0), 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #020000;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  /* line 26, ../../_sass/style.scss */
  div.post, div.recent_posts {
    padding: 60px;
  }
}

/* line 38, ../../_sass/style.scss */
div.footer-about {
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 100px;
  background-color: white;
  font-weight: 200;
  font-size: 10px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0), 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 47, ../../_sass/style.scss */
div.container a {
  color: black;
  text-decoration: none;
}

/* line 51, ../../_sass/style.scss */
div.container a:hover {
  /* color: #3f4953 ; */
  color: black;
  text-decoration: underline;
}

/* line 56, ../../_sass/style.scss */
div.recent_posts ul {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  padding: 0px;
}

/* line 62, ../../_sass/style.scss */
div.recent_posts ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 66, ../../_sass/style.scss */
div.clear {
  clear: both;
}

/* line 69, ../../_sass/style.scss */
nav {
  float: left;
}
@media screen and (max-width: 600px) {
  /* line 69, ../../_sass/style.scss */
  nav {
    display: block;
    width: 100%;
  }
}

/* line 77, ../../_sass/style.scss */
div.post h1 {
  font-size: 36px;
  font-weight: bold;
  color: #020000;
  margin: 10px 0 10px 0;
}
/* line 83, ../../_sass/style.scss */
div.post h1 a, div.post h1 a:hover {
  text-decoration: none;
}

/* line 87, ../../_sass/style.scss */
div.post * {
  line-height: 1.2em;
}
/* line 90, ../../_sass/style.scss */
div.post * a {
  text-decoration: underline;
}

/* line 94, ../../_sass/style.scss */
div.post p {
  line-height: 1.5em;
}

/* line 98, ../../_sass/style.scss */
div.post .author_meta,
div.post .entry_content {
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 1px solid #d5e0e4;
}

/* line 104, ../../_sass/style.scss */
div.recent_posts .meta {
  padding-top: 15px;
  padding-top: 10px;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #d5e0e4;
}

/* line 111, ../../_sass/style.scss */
header h1 {
  float: right;
  font-weight: 400;
  font-size: 14px;
  width: 250px;
}

/* line 117, ../../_sass/style.scss */
ul.nav {
  list-style-type: none;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* line 126, ../../_sass/style.scss */
div.container.blog header {
  border-bottom: 5px solid #3c3466;
}
/* line 130, ../../_sass/style.scss */
div.container.blog .post {
  border-bottom: 1px solid #3c3466;
}
/* line 134, ../../_sass/style.scss */
div.container.blog .footer-about {
  border-bottom: 5px solid #3c3466;
}

/* line 139, ../../_sass/style.scss */
div.container.web-apps header {
  border-bottom: 5px solid #7ad466;
}
/* line 143, ../../_sass/style.scss */
div.container.web-apps .post {
  border-bottom: 1px solid #7ad466;
}
/* line 147, ../../_sass/style.scss */
div.container.web-apps .footer-about {
  border-bottom: 5px solid #7ad466;
}

/* line 153, ../../_sass/style.scss */
div.container.javascript header {
  border-bottom: 5px solid #bd1311;
}
/* line 157, ../../_sass/style.scss */
div.container.javascript .post {
  border-bottom: 1px solid #bd1311;
}
/* line 161, ../../_sass/style.scss */
div.container.javascript .footer-about {
  border-bottom: 5px solid #bd1311;
}

/* line 165, ../../_sass/style.scss */
div.container.about .post {
  border-bottom: 1px solid #0c7bea;
  border-top: 5px solid #0c7bea;
}

/* line 169, ../../_sass/style.scss */
div.container.contact .post {
  border-bottom: 1px solid #e0a421;
  border-top: 5px solid #e0a421;
}

/* line 173, ../../_sass/style.scss */
div.container.blog .footer-about {
  border-top: 1px solid #3c3466;
  border-bottom: 5px solid #3c3466;
}

/* line 177, ../../_sass/style.scss */
div.container.web-apps .footer-about {
  border-bottom: 1px solid #7ad466;
  border-bottom: 5px solid #7ad466;
}

/* line 181, ../../_sass/style.scss */
div.container.javascript .footer-about {
  border-bottom: 1px solid #bd1311;
  border-bottom: 5px solid #bd1311;
}

/* line 185, ../../_sass/style.scss */
div.container.about .footer-about {
  border-bottom: 1px solid #0c7bea;
  border-bottom: 5px solid #0c7bea;
}

/* line 189, ../../_sass/style.scss */
div.container.contact .footer-about {
  border-bottom: 1px solid #e0a421;
  border-bottom: 5px solid #e0a421;
}

/* line 193, ../../_sass/style.scss */
ul.nav li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  /* line 193, ../../_sass/style.scss */
  ul.nav li {
    display: block;
    margin: 0px;
  }
}

/* line 203, ../../_sass/style.scss */
ul.nav li a {
  padding: 20px;
}
@media screen and (max-width: 600px) {
  /* line 203, ../../_sass/style.scss */
  ul.nav li a {
    display: block;
    padding: 10px;
  }
}

/* line 211, ../../_sass/style.scss */
ul.nav li a:hover, ul.nav li a.active {
  color: white;
  text-decoration: none;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
@media screen and (max-width: 600px) {
  /* line 211, ../../_sass/style.scss */
  ul.nav li a:hover, ul.nav li a.active {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
}

/* line 221, ../../_sass/style.scss */
ul.nav li a.blog:hover,
ul.nav li a.blog.active {
  background-color: #3c3466;
}

/* line 225, ../../_sass/style.scss */
ul.nav li a.web-apps:hover,
ul.nav li a.web-apps.active {
  background-color: #7ad466;
}

/* line 229, ../../_sass/style.scss */
ul.nav li a.javascript:hover,
ul.nav li a.javascript.active {
  background-color: #bd1311;
}

/* line 233, ../../_sass/style.scss */
ul.nav li a.about:hover,
ul.nav li a.about.active {
  background-color: #0c7bea;
}

/* line 237, ../../_sass/style.scss */
ul.nav li a.contact:hover,
ul.nav li a.contact.active {
  background-color: #e0a421;
}

/* line 240, ../../_sass/style.scss */
ul.nav li a:hover {
  -webkit-transition: background-color 100ms linear, color 100ms linear;
  -moz-transition: background-color 100ms linear, color 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear;
  transition: background-color 100ms linear, color 100ms linear;
}

/* line 244, ../../_sass/style.scss */
.highlight {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
  padding: 20px;
  margin: 20px 0;
}
/* line 250, ../../_sass/style.scss */
.highlight pre {
  margin: 0px;
}

/* line 254, ../../_sass/style.scss */
.pagination {
  padding: 20px;
  background: white;
  text-align: center;
}

/* line 259, ../../_sass/style.scss */
#disqus_thread {
  margin-top: 20px;
}
