/* #57676E */
/* #BD1311 #11bd17 #0c7bea */
/* line 18, ../../_sass/style.scss */
body {
  font-family: 'OpenSans', sans-serif;
  background-color: #E7EEF2;
}
@media screen and (max-width: 600px) {
  /* line 18, ../../_sass/style.scss */
  body {
    margin: 0;
  }
}

/* line 26, ../../_sass/style.scss */
div.container {
  margin: 0 auto;
  max-width: 960px;
}

/* line 30, ../../_sass/style.scss */
div.post, div.recent_posts {
  padding: 100px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0), 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #020000;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  /* line 30, ../../_sass/style.scss */
  div.post, div.recent_posts {
    padding: 60px;
  }
}

/* line 42, ../../_sass/style.scss */
div.footer-about {
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 100px;
  background-color: white;
  font-weight: 200;
  font-size: 10px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0), 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 51, ../../_sass/style.scss */
div.container a {
  color: black;
  text-decoration: none;
}

/* line 55, ../../_sass/style.scss */
div.container a:hover {
  /* color: #3f4953 ; */
  color: black;
  text-decoration: underline;
}

/* line 60, ../../_sass/style.scss */
div.recent_posts ul {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  padding: 0px;
}

/* line 66, ../../_sass/style.scss */
div.recent_posts ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 70, ../../_sass/style.scss */
div.clear {
  clear: both;
}

/* line 73, ../../_sass/style.scss */
nav {
  float: left;
}
@media screen and (max-width: 600px) {
  /* line 73, ../../_sass/style.scss */
  nav {
    display: block;
    width: 100%;
  }
}

/* line 81, ../../_sass/style.scss */
div.post h1 {
  font-size: 36px;
  font-weight: bold;
  color: #020000;
  margin: 10px 0 10px 0;
}
/* line 87, ../../_sass/style.scss */
div.post h1 a, div.post h1 a:hover {
  text-decoration: none;
}

/* line 91, ../../_sass/style.scss */
div.post * {
  line-height: 1.2em;
}
/* line 94, ../../_sass/style.scss */
div.post * a {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  /* line 98, ../../_sass/style.scss */
  div.post * img {
    max-width: 100%;
    height: auto;
  }
}

/* line 106, ../../_sass/style.scss */
div.post p {
  line-height: 1.5em;
}

/* line 110, ../../_sass/style.scss */
div.post .author_meta,
div.post .entry_content {
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 1px solid #d5e0e4;
}

/* line 116, ../../_sass/style.scss */
div.recent_posts .meta {
  padding-top: 15px;
  padding-top: 10px;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #d5e0e4;
}

/* line 123, ../../_sass/style.scss */
header h1 {
  float: right;
  font-weight: 400;
  font-size: 14px;
  width: 250px;
}

/* line 129, ../../_sass/style.scss */
ul.nav {
  list-style-type: none;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
}
@media screen and (max-width: 600px) {
  /* line 129, ../../_sass/style.scss */
  ul.nav {
    margin: 10px;
  }
}

/* line 142, ../../_sass/style.scss */
div.container.blog header {
  border-bottom: 5px solid #3c3466;
}
/* line 146, ../../_sass/style.scss */
div.container.blog .post {
  border-bottom: 1px solid #3c3466;
}
/* line 150, ../../_sass/style.scss */
div.container.blog .footer-about {
  border-bottom: 5px solid #3c3466;
}

/* line 155, ../../_sass/style.scss */
div.container.web-apps header {
  border-bottom: 5px solid #7ad466;
}
/* line 159, ../../_sass/style.scss */
div.container.web-apps .post {
  border-bottom: 1px solid #7ad466;
}
/* line 163, ../../_sass/style.scss */
div.container.web-apps .footer-about {
  border-bottom: 5px solid #7ad466;
}

/* line 169, ../../_sass/style.scss */
div.container.javascript header {
  border-bottom: 5px solid #bd1311;
}
/* line 173, ../../_sass/style.scss */
div.container.javascript .post {
  border-bottom: 1px solid #bd1311;
}
/* line 177, ../../_sass/style.scss */
div.container.javascript .footer-about {
  border-bottom: 5px solid #bd1311;
}

/* line 181, ../../_sass/style.scss */
div.container.about .post {
  border-bottom: 1px solid #0c7bea;
  border-top: 5px solid #0c7bea;
}

/* line 185, ../../_sass/style.scss */
div.container.contact .post {
  border-bottom: 1px solid #e0a421;
  border-top: 5px solid #e0a421;
}

/* line 189, ../../_sass/style.scss */
div.container.blog .footer-about {
  border-top: 1px solid #3c3466;
  border-bottom: 5px solid #3c3466;
}

/* line 193, ../../_sass/style.scss */
div.container.web-apps .footer-about {
  border-bottom: 1px solid #7ad466;
  border-bottom: 5px solid #7ad466;
}

/* line 197, ../../_sass/style.scss */
div.container.javascript .footer-about {
  border-bottom: 1px solid #bd1311;
  border-bottom: 5px solid #bd1311;
}

/* line 201, ../../_sass/style.scss */
div.container.about .footer-about {
  border-bottom: 1px solid #0c7bea;
  border-bottom: 5px solid #0c7bea;
}

/* line 205, ../../_sass/style.scss */
div.container.contact .footer-about {
  border-bottom: 1px solid #e0a421;
  border-bottom: 5px solid #e0a421;
}

/* line 209, ../../_sass/style.scss */
ul.nav li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  /* line 209, ../../_sass/style.scss */
  ul.nav li {
    display: block;
    margin: 0px;
  }
}

/* line 219, ../../_sass/style.scss */
ul.nav li a {
  padding: 20px;
}
@media screen and (max-width: 600px) {
  /* line 219, ../../_sass/style.scss */
  ul.nav li a {
    display: block;
    padding: 10px;
  }
}

/* line 227, ../../_sass/style.scss */
ul.nav li a:hover, ul.nav li a.active {
  color: white;
  text-decoration: none;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
@media screen and (max-width: 600px) {
  /* line 227, ../../_sass/style.scss */
  ul.nav li a:hover, ul.nav li a.active {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
}

/* line 237, ../../_sass/style.scss */
ul.nav li a.blog:hover,
ul.nav li a.blog.active {
  background-color: #3c3466;
}

/* line 241, ../../_sass/style.scss */
ul.nav li a.web-apps:hover,
ul.nav li a.web-apps.active {
  background-color: #7ad466;
}

/* line 245, ../../_sass/style.scss */
ul.nav li a.javascript:hover,
ul.nav li a.javascript.active {
  background-color: #bd1311;
}

/* line 249, ../../_sass/style.scss */
ul.nav li a.about:hover,
ul.nav li a.about.active {
  background-color: #0c7bea;
}

/* line 253, ../../_sass/style.scss */
ul.nav li a.contact:hover,
ul.nav li a.contact.active {
  background-color: #e0a421;
}

/* line 256, ../../_sass/style.scss */
ul.nav li a:hover {
  -webkit-transition: background-color 100ms linear, color 100ms linear;
  -moz-transition: background-color 100ms linear, color 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear;
  transition: background-color 100ms linear, color 100ms linear;
}

/* line 260, ../../_sass/style.scss */
.highlight {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
  padding: 20px;
  margin: 20px 0;
}
/* line 266, ../../_sass/style.scss */
.highlight pre {
  margin: 0px;
}

/* line 270, ../../_sass/style.scss */
.pagination {
  padding: 20px;
  background: white;
  text-align: center;
}

/* line 275, ../../_sass/style.scss */
#disqus_thread {
  margin-top: 20px;
}
